{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}

{% block content %}
    {{ form_start(ratingForm) }}
        {{ form_widget(ratingForm.value, {'attr' : {'class' : 'hidden'}}) }}
        <p{% if businessEntityId is defined %} class="label-{{ businessEntityId }}-{{ entityId }}"{% endif %}>
            {% set ratingSum = 0 %}
            {% set ratingRound = 0 %}
            {% if ratings|length == 0 %}
                {{ "widget_aggregaterating.show.message1.label"|transchoice(0 , {'%ratingCount%': ratings|length}, 'victoire')|raw }}
            {% else %}
                {% for rating in ratings %}
                    {% set ratingSum = ratingSum + rating.value %}
                {% endfor %}
                {% set ratingRound = (ratingSum / ratings|length)|round(1, 'floor') %}
                {% set label = "widget_aggregaterating.show.message" ~ widget.message ~ ".label" %}
                {{ label|transchoice(ratings|length , {'%ratingCount%': ratings|length, '%ratingRound%' : ratingRound, "%bestRating%" : 5}, 'victoire')|raw }}
            {% endif %}
        </p>
        <script>
            <!--
            $(document).ready(function(){
                var input = $("#{{ ratingForm.value.vars.id }}");
                input.removeClass('hidden');
                input.rating({{ widget.options|json_encode|raw }});
                {% if entityId is defined %}
                input.on('rating.change', function(event) {

                    var form = $($(this).parents('form')[0]);
                    $.ajax({
                        url: "{{ path('Rating_submit', {'businessEntityId' : businessEntityId, 'entityId' : entityId} ) }}",
                        type: form.attr('method'),
                        data: form.serialize(),
                        success: function(response){
                            var ratingRound = Math.round(response.ratingRound);
                            if(response.ratingRound != ratingRound)
                            {
                                ratingRound = Math.round(response.ratingRound * 10) / 10;
                            }
                            $('.label-' + response.businessEntityId + '-' + response.entityId).each(function(){
                                console.log($(this));
                                console.log($(this).children('.rating-round'));
                                $(this).children('.rating-round').html(ratingRound);
                                $(this).children('.rating-count').html(response.ratingNumber);
                            })
                        }
                    });
                });
                {% endif %}
            });
            -->
        </script>
    {{ form_end(ratingForm) }}
    <style>
        .rating-container-rtl:before,
        .rating-container-rtl .rating-stars:before,
        .rating-container:before,
        .rating-container .rating-stars:before{
            content:"{% for i in 1..widget.options.stars %}{{ widget.options.symbol }}{% endfor %}";
        }
    </style>
    {% if ratings is defined and ratings is iterable %}
        {% include "VictoireWidgetAggregateRatingBundle::Block/microdata.html.twig" with {
            'ratings' : ratings,
            'view' : currentView,
            'ratingRound' : ratingRound,
            'ratingNumber' : ratings|length
        }%}
    {% endif %}
{% endblock content %}
