{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}

{% block content %}
    {{ form_start(ratingForm) }}
        {{ form_widget(ratingForm.value, {'attr' : {'class' : 'hidden'}}) }}
        <p>
            {% set ratingSum = 0 %}
            {% set ratingRound = 0 %}
            {% if ratings|length == 0 %}
                {{ "widget_aggregaterating.show.message1.label"|trans({'%ratingCount%': ratings|length}, 'victoire')|raw }}
            {% else %}
                {% for rating in ratings %}
                    {% set ratingSum = ratingSum + rating.value %}
                {% endfor %}
                {% set ratingRound = (ratingSum / ratings|length)|round(1, 'floor') %}
                {% set label = "widget_aggregaterating.show.message" ~ widget.message ~ ".label" %}
                {{ label|trans({'%ratingCount%': ratings|length, '%ratingRound%' : ratingRound, "%bestRating%" : 5, '%widgetId%' : widget.id}, 'victoire')|raw }}
            {% endif %}
        </p>
        <script>
            <!--
            $(document).ready(function(){
                var input = $("#{{ ratingForm.value.vars.id }}");
                input.removeClass('hidden');
                input.rating({{ widget.options|json_encode|raw }});
                {% if currentView.businessEntity is defined %}
                input.on('rating.change', function(event) {

                    var form = $($(this).parents('form')[0]);
                    $.ajax({
                        url: "{{ path('Rating_submit', {'businessEntityId' : currentView.businessEntityId, 'entityId' : currentView.businessEntity.id} ) }}",
                        type: form.attr('method'),
                        data: form.serialize(),
                        success: function(response){
                            var ratingRound = Math.round(response.ratingRound);
                            if(response.ratingRound != ratingRound)
                            {
                                ratingRound = Math.round(response.ratingRound * 10) / 10;
                            }
                            $('.rating-round-{{ widget.id }}').html(ratingRound);
                            $('.rating-count-{{ widget.id }}').html(response.ratingNumber);
                        }
                    });
                });
                {% endif %}
            });
            -->
        </script>
    {{ form_end(ratingForm) }}
    <style>
        .rating-container-rtl:before,
        .rating-container-rtl .rating-stars:before,
        .rating-container:before,
        .rating-container .rating-stars:before{
            content:"{% for i in 1..widget.options.stars %}{{ widget.options.symbol }}{% endfor %}";
        }
    </style>
    {% include "VictoireWidgetAggregateRatingBundle::aggregateRating.html.twig" with {
        'ratings' : ratings,
        'view' : currentView,
        'ratingRound' : ratingRound
    }%}
{% endblock content %}
